# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

.DS_Store

/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Gg]enerated\ [Ff]iles/
/x64/
/packages/


# Visual Studio cache directory
.vs/
